header {
  font-size: 10pt;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal; }

main {
  font-size: 10pt;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal; }

header {
  background-image: url(../pictures/fondo.jpg);
  align-items: center;
  height: fit-content;
  width: auto; }
  header nav {
    padding: 10px 0 0 0; }
    header nav .a-flex {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: start; }
      header nav .a-flex a {
        text-decoration: none;
        color: white;
        font-size: 14pt;
        padding: 10px;
        border-radius: 7%;
        transition: 0.5s; }
      header nav .a-flex a:hover {
        color: #1f1f1f;
        background-color: white;
        border-radius: 50px; }

img.navbar-brand {
  width: 160pt;
  margin: 0 50px 10px 20px; }

.boton-bst {
  transition: 0.5s;
  border: none;
  color: black;
  padding: 0 20px 0 20px;
  margin: 0 20px 0 0;
  border-radius: 7%;
  background-color: white; }

.boton-bst:hover {
  border: none;
  color: white;
  padding: 0 20px 0 20px;
  font-style: normal;
  border-radius: 50px;
  background-color: #9d0e11ff; }

footer {
  background-color: #9d0e11ff;
  align-items: center;
  display: flex-end;
  justify-content: center; }
  footer .main2 {
    padding: 20px 20px 20px 20px;
    color: white;
    font-size: 10pt;
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center; }
  footer .main2 p {
    font-size: 16pt;
    margin: 0; }
  footer .main2 a {
    font-style: italic; }
  footer .main2 a:hover {
    color: #1f1f1f;
    font-style: italic; }
  footer .parrafo-main {
    color: white;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: 14pt; }
  footer .logo-footer {
    height: 30px; }
  footer a.navbar-brand {
    text-decoration: none;
    color: white;
    font-size: 14pt;
    padding: 10px;
    border-radius: 7%;
    transition: 0.5s; }

.main {
  justify-content: center;
  align-items: center;
  height: 75px; }

.flex-main {
  display: flex;
  margin: 50px;
  align-items: center;
  justify-content: center; }

.trabajo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-optical-sizing: auto;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-style: normal;
  color: white;
  padding: 10px;
  margin: 0;
  background-color: #9d0e11ff;
  font-size: 20pt; }

.tatuaje-1 {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
  grid-template-rows: 300px 300px;
  gap: 10px; }
  .tatuaje-1 .img-1 {
    width: 300px;
    height: 300px;
    grid-row: 1;
    grid-column: 1; }
  .tatuaje-1 .img-1-2 {
    grid-row: 2;
    grid-column: 1;
    width: 300px;
    height: 300px; }
  .tatuaje-1 .img-2 {
    grid-column: 1;
    grid-row: 3;
    width: 300px;
    height: 300px; }
  .tatuaje-1 .img-7 {
    grid-column: 2;
    grid-row: 1;
    height: 300px;
    width: 300px; }
  .tatuaje-1 .img-8 {
    grid-column: 2;
    grid-row: 2;
    width: 300px;
    height: 300px; }
  .tatuaje-1 .img-9 {
    grid-column: 3;
    grid-row: 2;
    width: 300px;
    height: 300px; }
  .tatuaje-1 .img-9-1 {
    grid-column: 4;
    grid-row: 1;
    width: 300px;
    height: 300px; }
  .tatuaje-1 .img-10 {
    grid-column: 5;
    grid-row: 2;
    width: 300px;
    height: 300px; }
  .tatuaje-1 .img-11 {
    grid-column: 4;
    grid-row: 2;
    width: 300px;
    height: 300px; }
  .tatuaje-1 .img-12 {
    grid-column: 5;
    grid-row: 1;
    width: 300px;
    height: 300px; }
  .tatuaje-1 .bloque-gris {
    width: 300px;
    height: 300px; }
  .tatuaje-1 .tatuaje-1-bloque-gris {
    grid-column: 3;
    grid-row: 1;
    transition: 1.0s;
    width: 300px;
    height: 300px; }
  .tatuaje-1 .tatuaje-1-bloque-gris {
    grid-column: 3;
    grid-row: 1;
    transition: 1.0s; }
  .tatuaje-1 .tatuaje-1-bloque-gris:hover {
    transform: scale(80%); }

.flex {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1f1f1f;
  padding: 100px;
  margin: 0; }

.cuadrado {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: larger; }

.caja2 {
  width: 170px;
  height: 170px;
  background-color: #9d0e11ff;
  border-radius: 100px;
  border-style: solid;
  border-color: white;
  border-width: 3px; }

.parrafo-main {
  color: white;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-size: 14pt; }

.section-nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .section-nosotros .parrafo-nosotros {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 350px 350px;
    gap: 20px;
    margin: 25px 0 50px 0; }
    .section-nosotros .parrafo-nosotros .p1-nosotros {
      margin: 25px 0 25px 0;
      grid-column: 1;
      grid-row: 1; }
    .section-nosotros .parrafo-nosotros .p2-nosotros {
      text-align: start;
      margin: 25px 0 25px 0;
      grid-column: 2;
      grid-row: 1; }
    .section-nosotros .parrafo-nosotros .span-p2 {
      font-weight: bold;
      font-size: 12pt; }
    .section-nosotros .parrafo-nosotros .p3-nosotros {
      text-align: start;
      margin: 25px 0 25px 0;
      grid-column: 3;
      grid-row: 1; }
  .section-nosotros .parrafo-nosotros img {
    width: 400px;
    height: 325px; }

.acomodador {
  display: flex;
  justify-content: space-evenly;
  margin: 25px; }

.Formulario- {
  font-size: 15pt; }

.section-sucu {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px; }

@media (max-width: 1400px) {
  .tatuaje-1 {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 10px; }
    .tatuaje-1 .img-1 {
      width: 200px;
      height: 200px;
      grid-row: 1;
      grid-column: 1; }
    .tatuaje-1 .img-1-2 {
      grid-row: 2;
      grid-column: 1;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .img-2 {
      grid-column: 1;
      grid-row: 3;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .img-7 {
      grid-column: 2;
      grid-row: 1;
      height: 200px;
      width: 200px; }
    .tatuaje-1 .img-8 {
      grid-column: 2;
      grid-row: 2;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .img-9 {
      grid-column: 3;
      grid-row: 2;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .img-9-1 {
      grid-column: 4;
      grid-row: 1;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .img-10 {
      grid-column: 5;
      grid-row: 2;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .img-11 {
      grid-column: 4;
      grid-row: 2;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .img-12 {
      grid-column: 5;
      grid-row: 1;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .bloque-gris {
      width: 200px;
      height: 200px; }
    .tatuaje-1 .tatuaje-1-bloque-gris {
      grid-column: 3;
      grid-row: 1;
      transition: 1.0s;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .tatuaje-1-bloque-gris {
      grid-column: 3;
      grid-row: 1;
      transition: 1.0s; }
    .tatuaje-1 .tatuaje-1-bloque-gris:hover {
      transform: scale(80%); }
  .flex {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f1f1f;
    padding: 100px;
    margin: 0; }
  .cuadrado {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: larger; }
  .caja2 {
    width: 170px;
    height: 170px;
    background-color: #9d0e11ff;
    border-radius: 100px;
    border-style: solid;
    border-color: white;
    border-width: 3px; }
  .parrafo-main {
    color: white;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: 14pt; } }

@media (max-width: 1100px) {
  .container-fluid {
    display: flex;
    flex-direction: column; }
  .a-flex {
    flex-direction: column; }
  .tatuaje-1 {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 10px; }
    .tatuaje-1 .img-1 {
      width: 200px;
      height: 200px;
      grid-row: 1;
      grid-column: 1; }
    .tatuaje-1 .img-1-2 {
      grid-row: 1;
      grid-column: 2;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .img-2 {
      grid-column: 1;
      grid-row: 2;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .img-7 {
      grid-column: 2;
      grid-row: 2;
      height: 200px;
      width: 200px; }
    .tatuaje-1 .img-8 {
      grid-column: 1;
      grid-row: 3;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .img-9 {
      grid-column: 2;
      grid-row: 3;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .img-9-1 {
      grid-column: 1;
      grid-row: 4;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .img-10 {
      grid-column: 2;
      grid-row: 4;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .img-11 {
      grid-column: 1;
      grid-row: 4;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .img-12 {
      grid-column: 2;
      grid-row: 4;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .bloque-gris {
      width: 200px;
      height: 200px; }
    .tatuaje-1 .tatuaje-1-bloque-gris {
      grid-column: 1;
      grid-row: 2;
      transition: 1.0s;
      width: 200px;
      height: 200px; }
    .tatuaje-1 .tatuaje-1-bloque-gris {
      grid-column: 1;
      grid-row: 2;
      transition: 1.0s; }
    .tatuaje-1 .tatuaje-1-bloque-gris:hover {
      transform: scale(80%); }
  .flex {
    display: flex;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1f1f1f;
    padding: 100px;
    margin: 0; }
  .cuadrado {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: larger; }
  .caja2 {
    width: 170px;
    height: 170px;
    background-color: #9d0e11ff;
    border-radius: 100px;
    border-style: solid;
    border-color: white;
    border-width: 3px; }
  .parrafo-main {
    color: white;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: 14pt; } }
