
//INDEX//


.main {

    justify-content: center;
    align-items: center;
    height: 75px;
    
    }

.flex-main {

    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: center;

}

.trabajo { 
    

    font-optical-sizing: auto;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    color: $color-secundario;
    background-color: $color-principal;
    padding: 10px;
    margin: 0;
    font-size: 20pt;
    @extend %flex}
    

.tatuaje-1 {

    
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
    grid-template-rows: 300px 300px;
    gap: 10px;
    
        .img-1 {
    
    
            width: 300px; 
            height: 300px;
            grid-row: 1;
            grid-column: 1;
        }
    
        .img-1-2{
    
       
            grid-row: 2;
            grid-column: 1;
            width: 300px;
            height: 300px;
        
         }
        
        
         .img-2 {
        
            grid-column: 1;
            grid-row: 3;
            width: 300px;
            height: 300px;
        
         }
        
    
        
        .img-7 {
        
            
            grid-column: 2;
            grid-row: 1 ; 
            height: 300px;
            width: 300px;
        
        }
        
        .img-8 {
        
            grid-column: 2;
            grid-row: 2;
            width: 300px;
            height: 300px;
        
        }
        
        .img-9 {
        
            grid-column: 3;
            grid-row: 2;
            width: 300px;
            height: 300px;
            
        }


        .img-9-1 {
        
            grid-column: 4;
            grid-row: 1;
            width: 300px;
            height: 300px;
            
        }


        .img-10 {
        
            grid-column: 5;
            grid-row: 2;
            width: 300px;
            height: 300px;
            
        }


        .img-11 {
        
            grid-column: 4;
            grid-row: 2;
            width: 300px;
            height: 300px;
            
        }


        .img-12 {
        
            grid-column: 5;
            grid-row: 1;
            width: 300px;
            height: 300px;
            
        }
        
        .bloque-gris{
    
            width: 300px;
            height: 300px;
    
        }
    
        .tatuaje-1-bloque-gris{
        
            grid-column: 3;
            grid-row: 1;
            transition: 1.0s;
            width: 300px;
            height: 300px;
            
        }
    
        .tatuaje-1-bloque-gris{
    
            grid-column: 3;
            grid-row: 1;
            transition: 1.0s;
        
    }
    
    
    .tatuaje-1-bloque-gris:hover{
    
        transform: scale(80%);
        
    
        
    }

}

.flex {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly; 
    background-color: #1f1f1f;
    padding: 100px;
    margin: 0;
}


.cuadrado {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: larger;

}


.caja2 {

    width: 170px;
    height: 170px;
    background-color: $color-principal;
    border-radius: 100px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

.parrafo-main {

    color: white;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: 14pt;
}


//NOSOTROS//

.section-nosotros{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    
    
    
    .img-nosotros{

        @include tamaño;
        border: solid #1f1f1f;
        transition: 0.5s;
    }

    .img-nosotros:hover {

        border:solid $color-principal;

    }

    .h1-nosotros{

        margin: 20px;

    }

    .texto-nosotros{

        position: relative;
        width: 500px;
        height: 200px;
        text-align: center;
        margin: 20px;
        
    }


    .texto-crudo{
        position: absolute;
        font-size: 14pt;
    }

}




//CONTACTO//


.acomodador {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;
}

.Formulario-{

    font-size: 15pt;
    margin: 50px 0 0 0;
    

}


//SUCURSALES//

.section-sucu {

    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;


}


//PRODUCTO//

.card2 {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px;
    flex-direction: row;
    
}   