header {

    font-size: 10pt;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    
}


main {

    font-size: 10pt;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;

}

//extend//

%flex {

    display: flex;
    text-align: center;
    justify-content: center;

}


//Variables//

$color-principal: #9d0e11ff ;
$color-secundario: white;
$color-terciario:black;
